@media screen and (min-width: 920px) {
  .wrap {
    width: 900px;
    margin: 1em auto;
    padding: 0;
  }
}

.eh-page {
  background: #575487;
}

.ui-content-theme-f {
  background: #fff;
}

.eh-icon {
  padding: 15px;
  margin: 7px;
  border-radius: 15px!important;
}
	
.eh-corners .ui-bar {
  -webkit-border-top-left-radius: inherit;
  border-top-left-radius: inherit;
  -webkit-border-top-right-radius: inherit;
  border-top-right-radius: inherit;
}
.eh-two-corners .ui-bar {
  -webkit-border-top-left-radius: 20px;
  border-top-left-radius: 20px;
  -webkit-border-bottom-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
.eh-corners .ui-body {
  border-top-width: 0;
  -webkit-border-bottom-left-radius: inherit;
  border-bottom-left-radius: inherit;
  -webkit-border-bottom-right-radius: inherit;
  border-bottom-right-radius: inherit;
}

.eh-bigger {
  font-size: 1.25em;
}

.centering {
  margin: 0 auto;
}

.ui-body {
  margin-bottom: 1em;
}

.foot {
  padding: 3px 0;
}

.eh-tablist-left {
  width: 20%;
  display: inline-block;
}
.eh-tablist-content {
  width: 70%;
  display: inline-block;
  vertical-align: top;
  margin-left: 5%;
}

.hid {
  display: none;
}

.prog-slider input {
  display: none;
}
.prog-slider .ui-slider-track {
  margin-left: 15px;
}
