---
layout: landing
title: Introduction to Philosophy
---

{% assign enav = site.pages | where: "layout" , "pres" | sort: 'date' %}

<div data-role="page" id="msuphil100f15-home" class="eh-page">

<div data-role="panel" id="index-nav-panel" data-display="overlay">
  <ul data-role="listview">
    <li><a href="#" data-rel="close" data-theme="b" class="ui-btn ui-btn-b ui-icon-carat-l ui-btn-icon-right">Close</a></li>
    {% for thing in enav %}
    <li><a href="{{ site.url }}{{ site.baseurl }}/{{ thing.module }}/{{ thing.stitle }}" rel="external">{{ thing.date | date: "%m %d"}}: {{ thing.stitle }}</a></li>
    {% endfor %}
  </ul>
</div>

<div data-role="header">
<a href="#index-nav-panel" class="ui-btn ui-btn-e ui-btn-left ui-btn-icon-notext ui-icon-bars">Nav</a>
<h1>Introduction to Philosophy</h1>
</div>

<div role="main" class="ui-content wrap">


  <h2 class="ui-bar ui-shadow ui-bar-a ui-corner-all">Montclair State University, fall 2015</h2>
  <h3 class="ui-bar ui-bar-a ui-corner-all">Instructor: Erik Hoversten</h3>

<!--<a href="#pop-synopsis" data-rel="popup" data-position-to="window" data-transition="fade" class="ui-btn ui-btn-a ui-corner-all">Course synopsis</a>

  <div id="pop-synopsis" data-role="popup" data-overlay-theme="b" data-theme="b" data-corners="false" class="wrap">
<p>This is an introductory course in philosophy, the primary goals of which are:</p>
       <ul>
       <li>to provide a broad base of familiarity with areas of concern in academic philosophy; this includes classic philosophical theories and arguments, as well as the original texts in which they are found. Upon completion of the course, students will be able to engage knowledgeably in debates pertaining to a wide variety of philosophical subdisciplines.
       </li>
       <li>to develop skills in philosophical argumentation and discussion. Throughout the course, students will critically examine controversial issues, learn how to construct and evaluate logical arguments, and gain experience in presenting their own ideas in rational and thoughtful ways.
       </li>
       <li>to  connect  philosophical  theories  to  real-world  issues.  By  actively  engaging  in  the  course,  students  will  come  to understand how the ideas we discuss in class matter for their interaction with the world they inhabit.
       </li></ul>

<p>The course content is divided into 5 modules, each of which reflects an important sub-discipline of philosophy. The modules are:
Philosophical method, Epistemology, Mind and metaphysics, Ethics, and Political philosophy.</p>
  </div>
-->
<div style="padding: 1em;"></div>

<div data-role="collapsible" data-collapsed="false" class="ui-corner-all eh-corners">
    <h3 class="ui-bar ui-bar-a">Class presentations</h3>
    <ul data-role="listview">
    {% for thing in enav %}
    <li><a href="{{ site.url }}{{ site.baseurl }}/{{ thing.module }}/{{ thing.stitle }}" rel="external">{{ thing.date | date: "%m %d"}}: {{ thing.title }}</a></li>
    {% endfor %}
    </ul>
</div>

<div style="padding: 1em;"></div>

<div data-role="collapsible" class="ui-corner-all eh-corners">
    <h3 class="ui-bar ui-bar-a">Additional resources</h3>


    <div class="ui-grid-c">
      <div class="ui-block-a"><h3 class="ui-bar" style="margin-top: 10px;">Syllabus</h3></div>
      <div class="ui-block-b"><a href="/msuphil100f15/intro/#intro-syll-info" rel="external" class="ui-btn ui-btn-e ui-corner-all">HTML</a></div>
      <div class="ui-block-c"><a href="/msuphil100f15/syllabus/syllabus07.pdf" rel="external" class="ui-btn ui-corner-all">PDF (sect. 07)</a></div>
      <div class="ui-block-c"><a href="/msuphil100f15/syllabus/syllabus08.pdf" rel="external" class="ui-btn ui-corner-all">PDF (sect. 08)</a></div>
    </div>

    <div class="ui-grid-b">
      <div class="ui-block-a"><h3 class="ui-bar" style="margin-top: 10px;">Schedule</h3></div>
      <div class="ui-block-b"><a href="/msuphil100f15/intro/#intro-sched-overview" rel="external" class="ui-btn ui-btn-e ui-corner-all">HTML</a></div>
      <div class="ui-block-c"><a href="/msuphil100f15/syllabus/schedule2.pdf" rel="external" class="ui-btn ui-corner-all">PDF</a></div>

      <div class="ui-block-a"><h3 class="ui-bar" style="margin-top: 10px;">Assessment</h3></div>
      <div class="ui-block-b"><a href="/msuphil100f15/intro/#intro-assess-overview" rel="external" class="ui-btn ui-btn-e ui-corner-all">HTML</a></div>
      <div class="ui-block-c"><a href="/msuphil100f15/syllabus/assessment.pdf" rel="external" class="ui-btn ui-corner-all">PDF</a></div>

      <div class="ui-block-a"><h3 class="ui-bar" style="margin-top: 10px;">Example reading response</h3></div>
      <div class="ui-block-b"><a href="/msuphil100f15/nagel/" rel="external" class="ui-btn ui-btn-e ui-corner-all">HTML</a></div>
      <div class="ui-block-c"><a href="/msuphil100f15/nagel/nagel.pdf" rel="external" class="ui-btn ui-corner-all">PDF</a></div>
    </div>

    <div class="ui-grid-a">
      <div class="ui-block-a"><h3 class="ui-bar" style="margin-top: 10px;">Guide to reading philosophy</h3></div>
      <div class="ui-block-b"><a href="http://www.jimpryor.net/teaching/guidelines/reading.html" rel="external" class="ui-btn ui-btn-e ui-corner-all">HTML</a></div>
      <div class="ui-block-a"><h3 class="ui-bar" style="margin-top: 10px;">Guide to writing philosophy</h3></div>
      <div class="ui-block-b"><a href="http://www.jimpryor.net/teaching/guidelines/writing.html" rel="external" class="ui-btn ui-btn-e ui-corner-all">HTML</a></div>
      <div class="ui-block-a"><h3 class="ui-bar" style="margin-top: 10px;">Clifford, <em>The Ethics of Belief</em></h3></div>
      <div class="ui-block-b"><a href="/msuphil100f15/clifford-ethics-of-belief.pdf" rel="external" class="ui-btn ui-btn-e ui-corner-all">PDF</a></div>
      <div class="ui-block-a"><h3 class="ui-bar" style="margin-top: 10px;">Turing, <em>Computing Machinery and Intelligence</em></h3></div>
      <div class="ui-block-b"><a href="/msuphil100f15/clifford-ethics-of-belief.pdf" rel="external" class="ui-btn ui-btn-e ui-corner-all">PDF</a></div>
    </div>
</div>

</div>

<div data-role="footer" data-position="fixed" id="index-foot">
    <h1>Course landing page</h1>
    <a href="http://creativecommons.org/licenses/by/4.0/" rel="external" class="ui-btn-right ui-btn ui-btn-e ui-btn-icon-notext ui-corner-all eh-icon icon-creative-commons"></a>
</div>

</div>

</body>
</html>
