---
layout: landing
title: Introduction to Philosophy
---

{% assign enav = site.pages | where: "kind", "presentation" | sort: "date" | group_by: "module" %}

<div data-role="page" id="msuphil100f15-home" class="eh-page">

<div data-role="panel" id="index-nav-panel" data-display="overlay">
  <ul data-role="listview">
    <li><a href="#" data-rel="close" data-theme="b" class="ui-btn ui-btn-b ui-icon-carat-l ui-btn-icon-right">Close</a></li>
    {% for thing in enav %}
    <li data-role="list-divider">{{ thing.name | capitalize }}</li>
    {% for bit in thing.items %}
    <li><a href="{{ bit.stitle | prepend: '/' | prepend: bit.module | prepend: '/' | prepend: site.baseurl }}">{{ bit.date | date: "%m/%d"}}: {{ bit.title | capitalize }}</a></li>
    {% endfor %}
    {% endfor %}
  </ul>
</div>

<div data-role="header">
<a href="#index-nav-panel" class="ui-btn ui-btn-e ui-btn-left ui-btn-icon-notext ui-icon-bars">Nav</a>
<h1>Introduction to Philosophy</h1>
</div>

<div role="main" class="ui-content wrap">

  <h2 class="ui-bar ui-shadow ui-bar-a ui-corner-all">Montclair State University, fall 2015</h2>
  <h3 class="ui-bar ui-bar-a ui-corner-all">Instructor: Erik Hoversten</h3>

{% include tabb.html struc="Class Presentations, Course synopsis, Additional Resources" %}


<div id="course-synopsis" class="ui-body ui-body-a eh-bigger">

    <p>This is an introductory course in philosophy, the primary goals of which are:</p>
       <ul>
         <li>to provide a broad base of familiarity with areas of concern in academic philosophy; this includes classic philosophical theories and arguments, as well as the original texts in which they are found. Upon completion of the course, students will be able to engage knowledgeably in debates pertaining to a wide variety of philosophical subdisciplines.
         </li>
         <li>to develop skills in philosophical argumentation and discussion. Throughout the course, students will critically examine controversial issues, learn how to construct and evaluate logical arguments, and gain experience in presenting their own ideas in rational and thoughtful ways.
         </li>
         <li>to  connect  philosophical  theories  to  real-world  issues.  By  actively  engaging  in  the  course,  students  will  come  to understand how the ideas we discuss in class matter for their interaction with the world they inhabit.
         </li>
       </ul>
    <p>The course content is divided into 4 modules, each of which reflects an important sub-discipline of philosophy. The modules are:
Philosophical Method, Epistemology, Mind and Metaphysics, and Ethics and Political Philosophy.</p>

</div>

<div id="class-presentations" class="ui-body ui-body-a">

    <ul data-role="listview" data-inset="true">
    {% for thing in enav %}
    <li data-role="list-divider">{{ thing.name | capitalize }}</li>
    {% for bit in thing.items %}
    <li><a href="{{ bit.stitle | prepend: '/' | prepend: bit.module | prepend: '/' | prepend: site.baseurl }}">{{ bit.date | date: "%m/%d"}}: {{ bit.title | capitalize }}</a></li>
    {% endfor %}
    {% endfor %}
    </ul>
</div>

<div id="additional-resources" class="ui-body ui-body-a">

<h3 class="ui-bar" style="margin: 10px 0 0;">Course Details</h3>
    <div class="ui-grid-c">
      <div class="ui-block-a"><a href="{{ '/intro/#intro-syll-info' | prepend: site.baseurl }}" rel="external" class="ui-btn ui-btn-e ui-corner-all">Syllabus</a></div>
      <div class="ui-block-b"><a href="{{ '/intro/#intro-sched-overview' | prepend: site.baseurl }}" rel="external" class="ui-btn ui-corner-all">Schedule</a></div>
      <div class="ui-block-c"><a href="{{ '/intro/#intro-assess-overview' | prepend: site.baseurl }}" rel="external" class="ui-btn ui-btn-e ui-corner-all">Assessment</a></div>
    </div>

<h3 class="ui-bar" style="margin: 10px 0 0;">Review Items</h3>
    <div class="ui-grid-b">      
      <div class="ui-block-a"><a href="{{ '/nagel/' | prepend: site.baseurl }}" rel="external" class="ui-btn ui-btn-e ui-corner-all">Example Reading Response</a></div>
      <div class="ui-block-b"><a href="{{ '/midterm1/review.html' | prepend: site.baseurl }}" rel="external" class="ui-btn ui-corner-all">Midterm 1 Review</a></div>
    </div>
    <div class="ui-grid-b">     
      <div class="ui-block-a"><a href="http://www.jimpryor.net/teaching/guidelines/reading.html" rel="external" class="ui-btn ui-corner-all">Guide to reading philosophy</a></div>
      <div class="ui-block-b"><a href="http://www.jimpryor.net/teaching/guidelines/writing.html" rel="external" class="ui-btn ui-btn-e ui-corner-all">Guide to writing philosophy</a></div>
    </div>

<h3 class="ui-bar" style="margin: 10px 0 0;">Exams</h3>
    <div class="ui-grid-b">     
      <div class="ui-block-a"><a href="{{ '/midterm1/exam.html' | prepend: site.baseurl }}" rel="external" class="ui-btn ui-btn-e ui-corner-all">Midterm 1</a></div>
      <div class="ui-block-b"><a href="{{ '/midterm2/' | prepend: site.baseurl }}" rel="external" class="ui-btn ui-corner-all">Midterm 2</a></div>    
    </div>  

<h3 class="ui-bar" style="margin: 10px 0 0;">Additional Readings</h3>
    <div class="ui-grid-b">
      <div class="ui-block-a"><a href="{{ '/readings/clifford-ethics-of-belief.pdf' | prepend: site.baseurl }}" rel="external" class="ui-btn ui-btn-e ui-corner-all">Clifford, <em>The Ethics of Belief</em></a></div>
      <div class="ui-block-b"><a href="{{ '/readings/clifford-ethics-of-belief.pdf' | prepend: site.baseurl }}" rel="external" class="ui-btn ui-corner-all">Turing, <em>Computing Machinery and Intelligence</em></a></div>
    </div>

</div>

</div>

<div data-role="footer" data-position="fixed" id="index-foot">
    <h1>Course landing page</h1>
    <a href="http://creativecommons.org/licenses/by/4.0/" rel="external" class="ui-btn-right ui-btn ui-btn-e ui-btn-icon-notext ui-corner-all eh-icon icon-creative-commons"></a>
</div>

</div>

</body>
</html>
