{% include tabs.html tab1="Justified true belief" tab2="No false lemmas" %}

<div id="justified-true-belief" class="ui-body ui-body-a">

<h3 class="ui-bar ui-bar-a">Justification as primitive </h3>

<p>Perhaps we can’t provide an adequate analysis of what it is to have an account, but
we all have a fairly good sense of when one’s belief is justified. Perhaps we can illuminate the concept of knowledge without an analysis of justification.</p>

<div data-role="collapsible">
<h4>The JTB analysis of knowledge</h4>
<table data-role="table" data-mode="" >
  <tr>
    <td style="text-align:right;">For any person S and proposition p:</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <th style="text-align:right;">S knows that p</th>
    <td style="text-align:center;">iff</td>
    <td>S believes that p</td>
   </tr>
   <tr>
     <td></td>
     <td></td>
     <td>p is true</td>
  </tr>
   <tr>
     <td></td>
     <td></td>
     <td>S's belief that p is justified</td>
  </tr>
</table>
</div>

{% include pop-image.html fname="Edmund" lname="Gettier" %}

<div data-role="collapsible">
<h4>Jones' Ford</h4>
<blockquote>Smith has good evidence that Jones, who is Smith’s coworker, owns a Ford. He has seen Jones driving around in one, Jones has brazenly flaunted registration papers for a Ford in front of Smith, and so on. On the basis of this evidence, Smith infers that someone in his office owns a Ford. As it so happens, Jones has recently sold his Ford. But it also happens that Thomas, another of Smith’s coworkers, owns a Ford; although, Smith has never seen him drive it.</blockquote>
</div>

</div>

<div id="no-false-lemmas" class="ui-body ui-body-a">

<p>The problem exposed by the case of Jones' Ford is that one can have justification for a belief, but still have your belief be true by <strong>accident</strong>.</p>
<p>Maybe we can shore up the analysis by adding an extra condition to avoid accidental justification.</p>

{% include pop-image.html fname="Gilbert" lname="Harman" %}

<div data-role="collapsible">
<h4 class="ui-bar">A revised analysis:</h4>
<table data-role="table" data-mode="" >
  <tr>
    <td style="text-align:right;">For any person S and proposition p:</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <th style="text-align:right;">S knows that p</th>
    <td style="text-align:center;">iff</td>
    <td>S believes that p</td>
   </tr>
   <tr>
     <td></td>
     <td></td>
     <td>p is true</td>
  </tr>
   <tr>
     <td></td>
     <td></td>
     <td>S's belief that p is justified</td>
  </tr>
   <tr>
     <td></td>
     <td></td>
     <td>S’s justification for p involves no false lemmas</td>
  </tr>
</table>
</div>

{% include pop-image.html fname="Alvin" lname="Goldman" %}

<div data-role="collapsible">
<h4>Fake barns</h4>

<blockquote>Henry is driving in the countryside, looking at objects in fields. He sees what looks exactly like a barn. Accordingly, he thinks that he is seeing a barn. Now, that is indeed what he is doing. But what he does not realize is that the neighborhood contains many fake barns–mere barn facades that look like real barns when viewed from the road. And if he had been looking at one of them, he would have been deceived into believing that he was seeing a barn.</blockquote>
</div>

</div>

</div>
