{% include tabs.html tab1="Justified true belief" tab2="No false premises" %}

<div id="justified-true-belief" class="ui-body ui-body-a">

<h3 class="ui-bar ui-bar-a">Justification as primitive </h3>

<p>Perhaps we can’t provide an adequate analysis of what it is to have an account, but
we all have a fairly good sense of when one’s belief is justified. Perhaps we can illuminate the concept of knowledge without an analysis of justification.</p>

<div data-role="collapsible">
<h4>The JTB analysis of knowledge</h4>
<table data-role="table" data-mode="" >
  <tr>
    <td style="text-align:right;">For any person S and proposition p:</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <th style="text-align:right;">S knows that p</th>
    <td style="text-align:center;">iff</td>
    <td>S believes that p</td>
   </tr>
   <tr>
     <td></td>
     <td></td>
     <td>p is true</td>
  </tr>
   <tr>
     <td></td>
     <td></td>
     <td>S's belief that p is justified</td>
  </tr>
</table>
</div>

{% include pop-image.html fname="Edmund" lname="Gettier" %}

<div data-role="collapsibleset">
<div data-role="collapsible">
<h4>Jones' Ford</h4>
<p>Smith has good evidence that Jones, who is Smith’s coworker, owns a Ford. He has seen Jones driving around in one, Jones has brazenly flaunted registration papers for a Ford in front of Smith, and so on. On the basis of this evidence, Smith infers that someone in his office owns a Ford. As it so happens, Jones has recently sold his Ford. But it also happens that Thomas, another of Smith’s coworkers, owns a Ford; although, Smith has never seen him drive it.</p>

<div data-role="collapsible">
<h4><em>Does Smith know that someone in his office owns a Ford?</em></h4>
<ul>
  <li>Smith believes that someone owns a Ford.</li>
  <li>It is true that someone owns a Ford, because Thomas does.</li>
  <li>Smith formed his belief by making a justified inference from a belief that he was justified in holding; namely, that Jones owns a Ford.</li>
</ul>
</div>

</div>
<div data-role="collapsible">
<h4>Job candidate</h4>
<p>Smith and Jones are interviewing for a new job. Smith has good evidence that Jones will get the job; he overheard the president of the company saying that Jones is their man. He also counted the number of coins in Jones' pocket, and it was ten. On this basis, Smith forms the belief that <em>the man who will get the job has ten coins in his pocket.</em></p>
<p>As it turns out, Smith is the one who will get the job, and he also has ten coins in his pocket.</p>

<div data-role="collapsible">
<h4><em>Does Smith know that the man who will get the job has ten coins in his pocket?</em></h4>
<ul>
  <li>Smith believes that the man who will get the job has ten coins in his pocket.</li>
  <li>Since he will get the job, and he has ten coins in his pocket, Smith's belief is true.</li>
  <li>Smith had good evidence both that Jones would get the job and that he had ten coins in his pocket.</li>
</ul>
</div>

</div>

</div>

<div id="no-false-premises" class="ui-body ui-body-a">

<p>The problem exposed by Gettier's cases is that one can have justification for a belief, but still have your belief be true by <strong>accident</strong>.</p>
<p>Maybe we can shore up the analysis by adding an extra condition to avoid accidental justification.</p>

{% include pop-image.html fname="Gilbert" lname="Harman" %}

<p>Gilbert Harman points out that the believer in each relies on a <em>false premise</em> in an <em>inference</em> when they form their belief. He suggests that this is what defeats their knowledge.</p>

<div data-role="collapsible">
<h4 class="ui-bar">A revised analysis:</h4>
<table data-role="table" data-mode="" >
  <tr>
    <td style="text-align:right;">For any person S and proposition p:</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <th style="text-align:right;">S knows that p</th>
    <td style="text-align:center;">iff</td>
    <td>S believes that p</td>
   </tr>
   <tr>
     <td></td>
     <td></td>
     <td>p is true</td>
  </tr>
   <tr>
     <td></td>
     <td></td>
     <td>S's belief that p is justified</td>
  </tr>
   <tr>
     <td></td>
     <td></td>
     <td>S’s justification for p involves no false premises</td>
  </tr>
</table>
</div>

{% include pop-image.html fname="Alvin" lname="Goldman" %}

<div data-role="collapsible">
<h4>Fake barns</h4>

<blockquote>Henry is driving in the countryside, looking at objects in fields. He sees what looks exactly like a barn. Accordingly, he thinks that he is seeing a barn. Now, that is indeed what he is doing. But what he does not realize is that the neighborhood contains many fake barns–mere barn facades that look like real barns when viewed from the road. And if he had been looking at one of them, he would have been deceived into believing that he was seeing a barn.</blockquote>
</div>

</div>

</div>
