{% include tabs.html tab1="Right opinion" tab2="With an account" %}

<div id="right-opinion" class="ui-body ui-body-a">

{% include pop-image.html lname="Plato" %}

<a href="#pop-meno" data-rel="popup" data-position-to="window" data-transition="fade" class="ui-btn ui-btn-a ui-icon-camera ui-btn-icon-right"><h4 class="ui-bar">An excert from <em>Meno</em></h4></a>

<div data-role="popup" id="pop-meno" data-overlay-theme="b" data-theme="b" data-corners="true">

<a href="#" data-rel="back" class="ui-btn ui-corner-all ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a>

<blockquote><strong>Socrates</strong>: A man who knew the way to Larissa or anywhere else you like, and went there and guided others would surely lead them well and correctly? -- Certainly.</blockquote>
<blockquote><strong>Socrates</strong>: What if someone had had a correct opinion as to which was the way but had not gone there nor indeed had knowledge of it, would he not also lead correctly? -- Certainly.</blockquote>
<blockquote>...<!--<strong>Socrates</strong>: And as long as he has the right opinion about that of which the other has knowledge, he will not be a worse guide than the one who knows, as he has a true opinion, though not knowledge. -- In no way worse.--></blockquote>
<blockquote><strong>Socrates</strong>: So true opinion is in no way worse a guide to correct action than knowledge. It is this that we omitted in our investigation of the nature of virtue, when we said that only knowledge can lead to correct action, for true opinion can do so also.</blockquote>
<blockquote>...<!--<strong>Socrates</strong>: So correct opinion is no less useful than knowledge?--></blockquote>
<blockquote><strong>Meno</strong>: Yes, to this extent, Socrates. But the man who has knowledge will always succeed, whereas he who has true opinion will only succeed at times.</blockquote>
<blockquote><strong>Socrates</strong>:How do you mean? Will he who has the right opinion not always suceed, as long as his opinion is right?</blockquote>
<blockquote><strong>Meno</strong>: That appears to be of necessity, and it makes me wonder, Socrates, this being the case, why knowledge is prized far more highly than right opinion, and why they are different.</blockquote>
<!--<blockquote><strong>Socrates</strong>: Do you know why you wonder, or shall I tell you? -- By all means tell me.--></blockquote>
<blockquote><strong>Socrates</strong>: It is because you have paid no attention to the statues of Daedalus, but perhaps there are none in Thessaly.<!--</blockquote>
<blockquote><strong>Meno</strong>: What do you have in mind when you say this?</blockquote>
<blockquote><strong>Socrates</strong>:-->... That they too run away and escape if one does not tie them down but remain in place if tied down. -- So what?</blockquote>
<blockquote><strong>Socrates</strong>: To acquire an untied work of Daedalus is not worth much, like acquiring a runaway slave, for it does not remain, but it is worth much if tied down, for his works are very beautiful. What am I thinking of when I say this? True opinions. For true opinions, as long as they remain, are a fine thing and all they do is good, but they are not willing to remain long, and they escape from a man's mind, so that they are not worth much until one ties them down by giving an account of the reason why.... <!--And that, Meno my friend, is recollection, as we previously agreed.--> After they are tied down, in the first place they become knowledge, and then they remain in place. That is why knowledge is prized higher than correct opinion, and knowledge differs from correct opinion in being tied down.</blockquote>
<blockquote><strong>Meno</strong>: Yes, by Zeus, Socrates, it seems to be something like that.</blockquote>
<blockquote><strong>Socrates</strong>: Indeed, I too speak as one who does not have knowledge but is guessing. However, I certainly do not think I am guessing that right opinion is a different thing than knowledge. If I claim to know anything else--and I would make that claim about few things--I would put this down as one of those things I know. -- Rightly so, Socrates.</blockquote>

</div>

<div data-role="collapsible">
<h4 class="ui-bar">Socrates’ trouble with knowledge</h4>
<p>Merely having a true opinion seems to be just a good as having knowledge when it comes to using your belief in action.</p>
<p>But Knowledge still seems to be more valuable than mere true judgment.</p>
<p>Explaining the nature of this added value has become known as <strong>The Meno Problem</strong>.</p>
</div>

</div>

<div id="with-an-account" class="ui-body ui-body-a">

<h4 class="ui-bar">Having an account</h4>
<p>Socrates' idea is that knowledge serves to <em>tie our ideas down</em>, and this makes them more valuable.</p>
<p>The added value comes from the <em>stability</em> provided by the account. Without the account, one's belief is just <em>accidentally</em> true, and is liable to fly from one's mind.</p>

<h4 class="ui-bar">What is it to give an account?</h4>
<div data-role="collapsibleset">
<div data-role="collapsible">
<h4>Making one’s thought apparent by speech?</h4>
<p>Too weak: one could do so by simply stating the proposition.</p>
<p>Too strong: knowing doesn’t require the ability to speak.</p>
</div>
<div data-role="collapsible">
<h4>Giving an answer by reference to the elements of the thing known?</h4>
<p>Too weak: one could do so accidentally, as when a speller guesses and spells correctly.</p>
<p>Too strong: one can know something without understanding every detail, as one can know what a wagon is without knowing all 100 of its parts.</p>
</div>
<div data-role="collapsible">
<h4>Differentiating the thing known from all other things?</h4>
<p>Too weak: one must differentiate a thing in order to hold it in thought, so mere true judgment also requires differentiation.</p>
<p>Unhelpful: if to know is to come to know the means of differentiation, then we have gotten no further.</p>
</div>
</div>

</div>

</div>
